#contacto {
	background: linear-gradient(whitesmoke, rgba(33, 16, 16, .8)), url('../img/contact.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.form-width {
		max-width: 600px;
		margin: auto;
	}

	input,
	textarea {
		outline: none;
		width: 100%;
		background-color: #f3f3f3;
		border: none;
		border-bottom: solid 1px rgb(239, 234, 234);
		padding: 10px 20px;
		border-radius: 10px;
		font-size: 14px;
		transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
		color: black;
	}

	.btn-enviar {
		display: block;
		background-color: pink;
		margin: auto;
		cursor: pointer;
		transition: all ease 0.5s;
		padding: 10px 15px;
		font-size: 18px;
		font-weight: bold;
		border: none;
		color: black;
		width: 40%;
		letter-spacing: .2rem;
		text-transform: uppercase;

		&:hover {
			background-color: grey;
			border: none;
		}
	}
}
