.contenedor-skills {
	background: linear-gradient(pink, rgba(84, 81, 81, 0.6)), url('../img/skills.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  
	.cuadrado { //span 
	  height: 14px;
	  width: 14px;
	  background-color: white;
	}
  }