* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat'; }

html {
  scroll-behavior: smooth; }

nav {
  background-color: black !important; }
  nav li a {
    color: white !important; }
    nav li a:hover {
      color: pink !important; }
  nav .navbar-toggler {
    background-color: pink;
    color: whitesmoke; }
