.sobre-mi .titulo-seccion {
  padding-top: 78px; }

.sobre-mi h2 {
  letter-spacing: 2px; }
  .sobre-mi h2 span {
    color: pink;
    font-weight: 700; }

.sobre-mi h3 {
  font-weight: 500px;
  letter-spacing: 1px; }

.sobre-mi p {
  color: black;
  font-size: 18px;
  line-height: 25px; }

.sobre-mi a {
  background-color: grey;
  border-radius: 30px;
  border: 1px solid black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: all ease 0.5s; }
  .sobre-mi a:hover {
    background-color: pink;
    border: none; }
