.sobre-mi {

    h2 {
        letter-spacing: 2px;

        span {
            color: pink;
        }
    }

    h3 {
        font-weight: 500px;
        letter-spacing: 1px;
    }

    p {
        color: grey;
        font-size: 18px;
        line-height: 25px;

    }

    a {
        background-color: grey;
        border-radius: 30px;
        border: 1px solid black;
        border: none;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        transition: all ease 0.5s;

        &:hover {
            background-color: pink;
            border: none;
        }

    }
}